# Testnet — used in development
NEXT_PUBLIC_SUI_NETWORK=testnet
NEXT_PUBLIC_TATUM_RPC=https://sui-testnet-grpc.gateway.tatum.io
NEXT_PUBLIC_TATUM_API_KEY=
NEXT_PUBLIC_WALRUS_AGGREGATOR=https://aggregator.testnet.walrus.site
NEXT_PUBLIC_APP_URL=http://localhost:3000
